<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="information-element">
  <template>
    <style>
      :host {
        display: block;
      }
      h1{
        text-align: center;
      }
      .texto{
        color: gray;
      }
      body{
        text-align: center;
      }
      div{
        text-align: center;
      }
      button{
        background-color:#468698;
        color:white;
        width: 100px;
        height: 30px;
        border-radius: 3px;
      }
      section{
        width:300px ;
        height: auto;
        padding: 40px;
        margin: 20px 90px 10px 90px;
      }
      
      

    </style>
    <!-- <h2>Hello [[prop1]]!</h2> -->
    <section>
    <h1>Confirmation!</h1>
    <label for="">Label</label><br>
    <label for="" class="texto"> Lorem impusum text info data</label>
    <br><br>
    <label for="" >Label </label><br>
    <label for="" class="texto" >Lorem impusum text info data</label>
    <br><br>
    <label for="">Label</label><br>
    <label for="" class="texto">Lorem impusum text info data</label>
    <div>
      <br>
      <button> Push ! </button>
    </div>
    </section>



  </template>

  <script>
    /**
     * `information-element`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class InformationElement extends Polymer.Element {
      static get is() { return 'information-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'information-element'
          }
        };
      }
    }

    window.customElements.define(InformationElement.is, InformationElement);
  </script>
</dom-module>
